<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.creation.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.creation.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.creation.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chrono</display-name>
    <servlet-name>Chrono</servlet-name>
    <servlet-class>com.creation.servlets.Chrono</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chrono</servlet-name>
    <url-pattern>/Chrono</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Todo</display-name>
    <servlet-name>Todo</servlet-name>
    <servlet-class>com.creation.servlets.Todo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Todo</servlet-name>
    <url-pattern>/Todo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signin</display-name>
    <servlet-name>Signin</servlet-name>
    <servlet-class>com.creation.servlets.Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/Signin</url-pattern>
  </servlet-mapping>
</web-app>